:root {
  --font-face-body: -apple-system,blinkmacsystemfont,avenir next,avenir,segoe ui,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
  --font-face-display: Times New Roman,times,baskerville,georgia;
  --font-face-heading: Times New Roman,times,baskerville,georgia;
  --font-color-primary: #414141;
  --font-color-light-grey: #5c5c5c;
  --brand-primary: #fd4f35;
  --brand-primary-500: #d8371f;
  --brand-primary-400: #fd4f35;
  --brand-primary-300: #fc735c;
  --brand-primary-200: #ff9487;
  --brand-primary-100: #ffbaad;
  --brand-primary-50: #fcccc2;
  --brand-secondary: #fd4f35;
  --brand-secondary-500: #0a3642;
  --brand-secondary-400: #004559;
  --brand-secondary-300: #336b78;
  --brand-secondary-200: #668f9c;
  --brand-secondary-100: #99b5bd;
  --brand-secondary-50: #ccd9de;
  --brand-tertiary: #ede5d9;
  --brand-tertiary-500: #75736e;
  --brand-tertiary-400: #b0ada3;
  --brand-tertiary-300: #c7bfb5;
  --brand-tertiary-200: #d9d6cf;
  --brand-tertiary-100: #ede5d9;
  --brand-tertiary-50: #f5f0e8;
  --background-color-body: #fff;
  --gray-300: #a6a6a6;
  --gray-200: #d3d3d3;
  --gray-100: #e9e9e9;
  --gray-50: #fbfbfb;
  --shade-light: #fff;
  --shade-dark: #3a3a3a;
  --color-danger: #c84040;
  --color-success: #77c697;
  --color-warn: #fac12f;
  --shadow-1: 0 4px 6px rgba(0,0,0,.2);
  --shadow-2: 0 24px 32px rgba(0,0,0,.1);
  --shadow-3: 0 50px 80px rgba(0,0,0,.1);
}

body {
  margin: 0;
}

.swal2-popup {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--brand-primary);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.75s linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.react-datepicker__day--selected {
  background-color: var(--brand-primary) !important;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--background-color-body);
  background-color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--brand-primary-100);
    border: 1px solid var(--brand-primary-100);
  }
  &:active {
    background-color: var(--brand-primary-200);
    border: 1px solid var(--brand-primary-200);
  }
}

.freeDatesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.tableStyled {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid var(--brand-primary);
  /* border-collapse: collapse; */
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
}


.trackHead {
  background-color: var(--brand-primary);
  color: var(--background-color-body);
}


.cell {
  padding: 0.5rem;
  text-align: center;
  /* border: 1px solid #ddd; */
}

.trRow {
  cursor: pointer;
}

.trRow:nth-child(even) {
  background-color: var(--brand-primary-50);
}

.trRow:hover {
  background-color: var(--brand-primary);
  color: var(--shade-light);
}

.noInfo {
  height: 726px;
  width: 775px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-primary);
  color: var(--background-color-body);
  border-radius: 10px;
}

h1 {
  font-family: var(--font-face-body);
}

.pagination {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paginationLabel {
  font-family: var(--font-face-body);
  margin: 0 1rem;
}

div.header {
  width: 100%;
  height: 100px;
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2rem;
}

.button.strong{
  font-weight: 600;
}

div.datesContainer {
  @media only screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
